# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
node_modules
.cursor
.env
dist
dist-ssr
*.local
.venv
__pycache__

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
extracted_data.json
chat_history.json
india_medical_centers_20250628_230852_cleaned.csv
india_medical_centers_20250628_230852.csv
india_medical_centers_20250628_230852.json
india_medical_centers_stats_20250628_230852.json
scrapper_1_cleaner.py
scrapper_1.py